/*
 NorthwindJ データベースの作成スクリプト
 SQL Server 2016 自習書
*/
CREATE DATABASE NorthwindJ
go

USE NorthwindJ

/****** Object:  Table [dbo].[運送会社]    Script Date: 2011/11/14 7:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[運送会社](
	[運送コード] [int] NOT NULL,
	[運送会社] [nvarchar](40) NOT NULL,
	[電話番号] [nvarchar](24) NULL,
 CONSTRAINT [PK_運送会社] PRIMARY KEY CLUSTERED 
(
	[運送コード] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[仕入先]    Script Date: 2011/11/14 7:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[仕入先](
	[仕入先コード] [int] NOT NULL,
	[フリガナ] [nvarchar](80) NULL,
	[仕入先名] [nvarchar](40) NOT NULL,
	[担当者名] [nvarchar](30) NULL,
	[部署] [nvarchar](30) NULL,
	[郵便番号] [nvarchar](10) NULL,
	[トドウフケン] [nvarchar](30) NULL,
	[都道府県] [nvarchar](15) NULL,
	[住所1] [nvarchar](60) NULL,
	[住所2] [nvarchar](60) NULL,
	[電話番号] [nvarchar](24) NULL,
	[ファクシミリ] [nvarchar](24) NULL,
	[ホームページ] [nvarchar](max) NULL,
 CONSTRAINT [PK_仕入先] PRIMARY KEY CLUSTERED 
(
	[仕入先コード] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[社員]    Script Date: 2011/11/14 7:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[社員](
	[社員コード] [int] NOT NULL,
	[フリガナ] [nvarchar](80) NULL,
	[氏名] [nvarchar](40) NOT NULL,
	[在籍支社] [nvarchar](20) NULL,
	[部署名] [nvarchar](30) NULL,
	[誕生日] [datetime] NULL,
	[入社日] [datetime] NULL,
	[自宅郵便番号] [nvarchar](10) NULL,
	[自宅都道府県] [nvarchar](40) NULL,
	[自宅住所1] [nvarchar](60) NULL,
	[自宅住所2] [nvarchar](60) NULL,
	[自宅電話番号] [nvarchar](24) NULL,
	[内線] [nvarchar](4) NULL,
	[写真] [nvarchar](255) NULL,
	[プロフィール] [nvarchar](max) NULL,
 CONSTRAINT [PK_社員] PRIMARY KEY CLUSTERED 
(
	[社員コード] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[受注]    Script Date: 2011/11/14 7:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[受注](
	[受注コード] [int] NOT NULL,
	[得意先コード] [int] NULL,
	[社員コード] [int] NULL,
	[出荷先名] [nvarchar](40) NULL,
	[出荷先郵便番号] [nvarchar](10) NULL,
	[出荷先都道府県] [nvarchar](20) NULL,
	[出荷先住所1] [nvarchar](60) NULL,
	[出荷先住所2] [nvarchar](60) NULL,
	[運送区分] [int] NULL,
	[受注日] [datetime] NULL,
	[締切日] [datetime] NULL,
	[出荷日] [datetime] NULL,
	[運送料] [money] NULL,
 CONSTRAINT [PK_受注] PRIMARY KEY CLUSTERED 
(
	[受注コード] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[受注明細]    Script Date: 2011/11/14 7:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[受注明細](
	[受注コード] [int] NOT NULL,
	[商品コード] [int] NOT NULL,
	[単価] [money] NOT NULL,
	[数量] [smallint] NOT NULL,
	[割引] [real] NOT NULL,
 CONSTRAINT [PK_受注明細] PRIMARY KEY CLUSTERED 
(
	[受注コード] ASC,
	[商品コード] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[商品]    Script Date: 2011/11/14 7:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[商品](
	[商品コード] [int] NOT NULL,
	[フリガナ] [nvarchar](80) NULL,
	[商品名] [nvarchar](40) NOT NULL,
	[仕入先コード] [int] NULL,
	[区分コード] [int] NULL,
	[梱包単位] [nvarchar](20) NULL,
	[単価] [money] NULL,
	[在庫] [smallint] NULL,
	[発注済] [smallint] NULL,
	[発注点] [smallint] NULL,
	[生産中止] [bit] NOT NULL,
 CONSTRAINT [PK_商品] PRIMARY KEY CLUSTERED 
(
	[商品コード] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[商品区分]    Script Date: 2011/11/14 7:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[商品区分](
	[区分コード] [int] NOT NULL,
	[区分名] [nvarchar](30) NOT NULL,
	[説明] [nvarchar](max) NULL,
	[図] [image] NULL,
 CONSTRAINT [PK_商品区分] PRIMARY KEY CLUSTERED 
(
	[区分コード] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[都道府県]    Script Date: 2011/11/14 7:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[都道府県](
	[トドウフケン] [nvarchar](30) NULL,
	[都道府県] [nvarchar](15) NULL,
	[ローマ字] [varchar](100) NULL,
	[地域名ローマ字] [varchar](100) NULL,
	[地域] [varchar](10) NULL
)

GO
/****** Object:  Table [dbo].[得意先]    Script Date: 2011/11/14 7:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[得意先](
	[得意先コード] [int] NOT NULL,
	[フリガナ] [nvarchar](40) NULL,
	[得意先名] [nvarchar](40) NOT NULL,
	[担当者名] [nvarchar](30) NULL,
	[部署] [nvarchar](30) NULL,
	[郵便番号] [nvarchar](10) NULL,
	[トドウフケン] [nvarchar](30) NULL,
	[都道府県] [nvarchar](15) NULL,
	[住所1] [nvarchar](60) NULL,
	[住所2] [nvarchar](60) NULL,
	[電話番号] [nvarchar](24) NULL,
	[ファクシミリ] [nvarchar](24) NULL,
 CONSTRAINT [PK_得意先] PRIMARY KEY CLUSTERED 
(
	[得意先コード] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
INSERT [dbo].[運送会社] ([運送コード], [運送会社], [電話番号]) VALUES (1, N'アカネコ', N'(03) 3955-98xx')
INSERT [dbo].[運送会社] ([運送コード], [運送会社], [電話番号]) VALUES (2, N'トマト', N'(03) 3681-31xx')
INSERT [dbo].[運送会社] ([運送コード], [運送会社], [電話番号]) VALUES (3, N'ペンギン', N'(03) 3566-99xx')
INSERT [dbo].[仕入先] ([仕入先コード], [フリガナ], [仕入先名], [担当者名], [部署], [郵便番号], [トドウフケン], [都道府県], [住所1], [住所2], [電話番号], [ファクシミリ], [ホームページ]) VALUES (1, N'アジアカブシキガイシャ', N'あじあ株式会社', N'幡垣 修一', N'営業部', N'1130033', N'トウキョウト', N'東京都', N'文京区本郷 3-26-X', NULL, N'(03)3815-32XX', N'(03)3815-32XX', NULL)
INSERT [dbo].[仕入先] ([仕入先コード], [フリガナ], [仕入先名], [担当者名], [部署], [郵便番号], [トドウフケン], [都道府県], [住所1], [住所2], [電話番号], [ファクシミリ], [ホームページ]) VALUES (2, N'トウキョウコーヒー', N'東京コーヒー', N'安藤 潔助', N'営業部', N'1520021', N'トウキョウト', N'東京都', N'目黒区東ケ丘 1-1-XX', NULL, N'(03)3410-48XX', N'(03)3410-48XX', NULL)
INSERT [dbo].[仕入先] ([仕入先コード], [フリガナ], [仕入先名], [担当者名], [部署], [郵便番号], [トドウフケン], [都道府県], [住所1], [住所2], [電話番号], [ファクシミリ], [ホームページ]) VALUES (3, N'エビスカブシキガイシャ', N'恵比寿株式会社', N'加藤 順紀', N'第二営業部', N'2720835', N'チバケン', N'千葉県', N'市川市中国分 4-16-XX', NULL, N'(0473)73-82XX', N'(0473)73-84XX', NULL)
INSERT [dbo].[社員] ([社員コード], [フリガナ], [氏名], [在籍支社], [部署名], [誕生日], [入社日], [自宅郵便番号], [自宅都道府県], [自宅住所1], [自宅住所2], [自宅電話番号], [内線], [写真], [プロフィール]) VALUES (105, N'モリウエ　イクマ', N'森上 偉久馬', N'東京本社', N'第一営業', CAST(0x000060C000000000 AS DateTime), CAST(0x000080C200000000 AS DateTime), N'1900003', N'東京都', N'立川市栄町 4-18-XX', NULL, N'(0425)25-05XX', N'215', N'EMPID5.BMP', N'私は中学生までの間、合唱をやっていました。声が高いので、パートはテノールでした。流行のサッカーよりも野球の方が好きで、ジャイアンツのファンです。')
INSERT [dbo].[社員] ([社員コード], [フリガナ], [氏名], [在籍支社], [部署名], [誕生日], [入社日], [自宅郵便番号], [自宅都道府県], [自宅住所1], [自宅住所2], [自宅電話番号], [内線], [写真], [プロフィール]) VALUES (107, N'カツラギ　コウシ', N'葛城 孝史', N'東京本社', N'第二営業', CAST(0x0000572900000000 AS DateTime), CAST(0x000082C800000000 AS DateTime), N'1530064', N'東京都', N'目黒区下目黒 3-16-XX', N'松・アネックスビル', N'(03)3714-75XX', N'231', N'EMPID8.BMP', N'私は、東京生まれの東京育ち。趣味と言えるほどのものはありませんが、強いて言うなら車が好きなので、たまにドライブへ出かけます。新緑や紅葉の季節は特に山がきれいです。')
INSERT [dbo].[社員] ([社員コード], [フリガナ], [氏名], [在籍支社], [部署名], [誕生日], [入社日], [自宅郵便番号], [自宅都道府県], [自宅住所1], [自宅住所2], [自宅電話番号], [内線], [写真], [プロフィール]) VALUES (110, N'カトウ　ヤスエ', N'加藤 泰江', N'東京本社', N'第一営業', CAST(0x0000612400000000 AS DateTime), CAST(0x000080C200000000 AS DateTime), N'1520021', N'東京都', N'目黒区東ケ丘 1-5-X', NULL, N'(03)3421-16XX', N'273', N'EMPID6.BMP', N'私は、スポーツが好きで、特にサッカーは見るのもするのも夢中になります。並行して、家が以前、エレクトーンの教室を開いていたので、楽器もよく演奏したりしていました。')

INSERT [dbo].[受注] ([受注コード], [得意先コード], [社員コード], [出荷先名], [出荷先郵便番号], [出荷先都道府県], [出荷先住所1], [出荷先住所2], [運送区分], [受注日], [締切日], [出荷日], [運送料]) VALUES (1001, 26, 210, N'小料理ひろ', N'4860969', N'愛知県', N'春日井市味美白山町 1-9-X', NULL, 1, CAST(N'2014-01-10 00:00:00.000' AS DateTime), CAST(N'2014-03-09 00:00:00.000' AS DateTime), CAST(N'2014-01-15 00:00:00.000' AS DateTime), 1000.0000)
INSERT [dbo].[受注] ([受注コード], [得意先コード], [社員コード], [出荷先名], [出荷先郵便番号], [出荷先都道府県], [出荷先住所1], [出荷先住所2], [運送区分], [受注日], [締切日], [出荷日], [運送料]) VALUES (1002, 22, 304, N'食所あんどう', N'8112206', N'福岡県', N'粕屋郡志免町御手洗 51-X', NULL, 1, CAST(N'2014-01-08 00:00:00.000' AS DateTime), CAST(N'2014-03-07 00:00:00.000' AS DateTime), CAST(N'2014-01-12 00:00:00.000' AS DateTime), 1000.0000)
INSERT [dbo].[受注] ([受注コード], [得意先コード], [社員コード], [出荷先名], [出荷先郵便番号], [出荷先都道府県], [出荷先住所1], [出荷先住所2], [運送区分], [受注日], [締切日], [出荷日], [運送料]) VALUES (1003, 50, 110, N'高原亭', N'3001203', N'茨城県', N'牛久市下根町 1504-XX', NULL, 1, CAST(N'2014-01-12 00:00:00.000' AS DateTime), CAST(N'2014-03-11 00:00:00.000' AS DateTime), CAST(N'2014-01-17 00:00:00.000' AS DateTime), 1000.0000)

INSERT [dbo].[受注明細] ([受注コード], [商品コード], [単価], [数量], [割引]) VALUES (1001, 15, 200.0000, 30, 0)
INSERT [dbo].[受注明細] ([受注コード], [商品コード], [単価], [数量], [割引]) VALUES (1001, 17, 290.0000, 50, 0)
INSERT [dbo].[受注明細] ([受注コード], [商品コード], [単価], [数量], [割引]) VALUES (1001, 18, 200.0000, 20, 0)
GO
INSERT [dbo].[商品] ([商品コード], [フリガナ], [商品名], [仕入先コード], [区分コード], [梱包単位], [単価], [在庫], [発注済], [発注点], [生産中止]) VALUES (1, N'カジュウ100パーセント　オレンジ', N'果汁100% オレンジ', 2, 1, N'200g×12瓶', 200.0000, 10, 100, 0, 0)
INSERT [dbo].[商品] ([商品コード], [フリガナ], [商品名], [仕入先コード], [区分コード], [梱包単位], [単価], [在庫], [発注済], [発注点], [生産中止]) VALUES (2, N'カジュウ100パーセント　グレープ', N'果汁100% グレープ', 2, 1, N'200g×12瓶', 200.0000, 12, 100, 0, 0)
INSERT [dbo].[商品] ([商品コード], [フリガナ], [商品名], [仕入先コード], [区分コード], [梱包単位], [単価], [在庫], [発注済], [発注点], [生産中止]) VALUES (3, N'カジュウ100パーセント　レモン', N'果汁100% レモン', 2, 1, N'200g×12瓶', 200.0000, 12, 100, 0, 0)
GO
INSERT [dbo].[都道府県] ([トドウフケン], [都道府県], [ローマ字], [地域名ローマ字], [地域]) VALUES (N'アイチケン', N'愛知県', N'AICHI', N'Chubu', N'中部')
INSERT [dbo].[都道府県] ([トドウフケン], [都道府県], [ローマ字], [地域名ローマ字], [地域]) VALUES (N'エヒメケン', N'愛媛県', N'EHIME', N'Shikoku', N'四国')
INSERT [dbo].[都道府県] ([トドウフケン], [都道府県], [ローマ字], [地域名ローマ字], [地域]) VALUES (N'イバラキケン', N'茨城県', N'IBARAKI', N'Kanto', N'関東')
INSERT [dbo].[得意先] ([得意先コード], [フリガナ], [得意先名], [担当者名], [部署], [郵便番号], [トドウフケン], [都道府県], [住所1], [住所2], [電話番号], [ファクシミリ]) VALUES (1, N'キッサタイムマシン', N'喫茶たいむましん', N'林　 千春', N'店長', N'8400853', N'サガケン', N'佐賀県', N'佐賀市長瀬町 23-XX', NULL, N'(0952)26-64XX', NULL)
INSERT [dbo].[得意先] ([得意先コード], [フリガナ], [得意先名], [担当者名], [部署], [郵便番号], [トドウフケン], [都道府県], [住所1], [住所2], [電話番号], [ファクシミリ]) VALUES (2, N'コリョウリナンゴク', N'小料理なんごく', N'河本 なみ', N'料理長', N'9020071', N'オキナワケン', N'沖縄県', N'那覇市繁多川 1-21-XX', NULL, N'(0988)55-87XX', N'(0988)55-87XX')
INSERT [dbo].[得意先] ([得意先コード], [フリガナ], [得意先名], [担当者名], [部署], [郵便番号], [トドウフケン], [都道府県], [住所1], [住所2], [電話番号], [ファクシミリ]) VALUES (3, N'カッポウフジイ', N'割烹ふじい', N'山久 良美', N'料理長', N'9398066', N'トヤマケン', N'富山県', N'富山市朝菜町 2-702-XX', NULL, N'(0764)25-58XX', N'(0764)25-58XX')
ALTER TABLE [dbo].[受注]  WITH CHECK ADD  CONSTRAINT [FK_受注_運送会社] FOREIGN KEY([運送区分])
REFERENCES [dbo].[運送会社] ([運送コード])
GO
ALTER TABLE [dbo].[受注] CHECK CONSTRAINT [FK_受注_運送会社]
GO
ALTER TABLE [dbo].[受注]  WITH CHECK ADD  CONSTRAINT [FK_受注_社員] FOREIGN KEY([社員コード])
REFERENCES [dbo].[社員] ([社員コード])
GO
ALTER TABLE [dbo].[受注] CHECK CONSTRAINT [FK_受注_社員]
GO
ALTER TABLE [dbo].[受注]  WITH CHECK ADD  CONSTRAINT [FK_受注_得意先] FOREIGN KEY([得意先コード])
REFERENCES [dbo].[得意先] ([得意先コード])
GO
ALTER TABLE [dbo].[受注] CHECK CONSTRAINT [FK_受注_得意先]
GO
ALTER TABLE [dbo].[受注明細]  WITH CHECK ADD  CONSTRAINT [FK_受注明細_受注] FOREIGN KEY([受注コード])
REFERENCES [dbo].[受注] ([受注コード])
GO
ALTER TABLE [dbo].[受注明細] CHECK CONSTRAINT [FK_受注明細_受注]
GO
ALTER TABLE [dbo].[受注明細]  WITH CHECK ADD  CONSTRAINT [FK_受注明細_商品] FOREIGN KEY([商品コード])
REFERENCES [dbo].[商品] ([商品コード])
GO
ALTER TABLE [dbo].[受注明細] CHECK CONSTRAINT [FK_受注明細_商品]
GO
ALTER TABLE [dbo].[商品]  WITH CHECK ADD  CONSTRAINT [FK_商品_仕入先] FOREIGN KEY([仕入先コード])
REFERENCES [dbo].[仕入先] ([仕入先コード])
GO
ALTER TABLE [dbo].[商品] CHECK CONSTRAINT [FK_商品_仕入先]
GO
ALTER TABLE [dbo].[商品]  WITH CHECK ADD  CONSTRAINT [FK_商品_商品区分1] FOREIGN KEY([区分コード])
REFERENCES [dbo].[商品区分] ([区分コード])
GO
ALTER TABLE [dbo].[商品] CHECK CONSTRAINT [FK_商品_商品区分1]
GO
